---
import { openDB } from "../../utils/db";

const db = await openDB()

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const id = formData.get("id");
  await db.run(`DELETE FROM jobs WHERE id = ?`, [id]);
  return Astro.redirect("/dashboard/jobs");
}
---
<dialog class="modal" id="jobs_delete">
  <div class="modal-box w-sm">
    <form class="flex flex-col gap-6" method="POST" action="/dashboard/jobs-delete">
      <h2 class="card-title justify-center">Delete Job</h2>
      <p>Are you sure you want to delete this Job?</p>
      <input type="hidden" name="id" :value="selectedJobId" />
      <div class="flex justify-end">
        <button
          type="button"
          class="btn btn-neutral rounded-none"
          x-on:click="$el.closest('dialog').close()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-error rounded-none ml-2 text-white"
        >
          Delete
        </button>
      </div>
    </form>
  </div>
</dialog>
